<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>add Item</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body class="pa">

<div th:insert="~{header :: main}"></div>
<div class="container">
    <div class="row flex-items-xs-center d-md-flex">
        <form action="#" th:action="@{'/'+${item_name}+'/additem/'}" th:object="${item}" method="post">
            <p><pph th:text="${item_name}"></pph> code :<input type="text" th:field="*{firstCode}"/></p>
            <p>Waterman code : <input type="text" th:field="*{secondCode}"/></p>
            <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>

        </form>
    </div>
</div>
</body>
</html>