<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
    <head>
    <meta charset="UTF-8">
    <title>All ItemSP</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:insert="~{header :: main}"> </div>
<table class="table .table-striped .table-bordered .table-responsive">
    <thead class="thead-dark">
    <tr>
        <th>code</th>
        <th>SP name</th>
        <th>Waterman name</th>
        <th> price with discount</th>
        <th>Waterman price</th>
        <th>SP Address</th>
        <!--<th>delete</th>
        <th>id</th> -->
    </tr>

    </thead>
<tr th:each="cheaplist : ${cheaplist}">
    <td th:text="${cheaplist.code}"></td>
    <td th:text="${cheaplist.name}"></td>
    <td th:text="${cheaplist.WatermanItemDTO.name}"></td>
    <td class="alert-danger" th:text="${cheaplist.priceDiscount}"></td>
    <td th:text="${cheaplist.WatermanItemDTO.price}"></td>
    <td th:text="${cheaplist.address}"></td>

    <!--<td>><a href="edit_sp.html" th:href="@{'/itemsp/'+${itemsSP.id}}">edit</a> </td>
    <td><a th:href="@{'/itemsp/delete/'+${itemsSP.id}}">Delete</a></td>
    <td th:text="${itemsSP.id}"></td> -->

</tr>
</table>

</body>
</html>