<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:insert="~{footer :: main}"></div>
<div th:object="${edit_waterman}">
    <span class="card-header" align="center" th:text="'Edit ItemWaterman with ID: '+${edit_waterman.id}"></span>
    <form action="" th:action="@{edit}" method="post">
        <div class="form-control">
            <input type="hidden" id="id" class="input-group" th:field="${edit_waterman.id}">
            <div style="margin-left: 30px" class="align-self-stretch">
                adress :
                <input type="text" id="adress" class="input-group" th:field="${edit_waterman.address}">
                Name :
                <input type="text" id="name" class="input-group" th:field="${edit_waterman.name}">
                waterman groupe :
                <input type="text" id="groupe" class="input-group" th:field="${edit_waterman.group}">
                waterman code :
                <input type="number" class="input-group" th:field="${edit_waterman.code}">
                <input type="submit" value="Submit" class="btn-dark"/> <input type="reset" value="Reset"/>

            </div>
        </div>
    </form>
    <br>

</div>


</body>
</html>