<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="~{header :: main}"></div>
<div th:object="${edit_waterman}">
    <span class="card-header" align="center" th:text="'Edit ItemWaterman with SKU: '+${edit_waterman.code}"></span>
    <form action="" th:action="@{edit}" method="post">
        <div class="form-control">
            <input type="hidden" id="code" class="input-group" th:field="${edit_waterman.code}">
            <div style="margin-left: 30px" class="align-self-stretch">
                Web Adress :
                <input type="text" id="address" class="input-group" th:field="${edit_waterman.address}">
                Name :
                <input type="text" id="name" class="input-group" th:field="${edit_waterman.name}">
                Waterman groupe :
                <input type="text" id="groupe" class="input-group" th:field="${edit_waterman.group}">
                Waterman Code :
                <input type="number" class="input-group" th:field="${edit_waterman.code}">
                Waterman Price
                <input type="number" class="input-group" th:field="${edit_waterman.price}">
                Currency
                <input type="text" class="input-group" th:field="${edit_waterman.currency}">
                Date edited:
                <input type="text" class="input-group" th:field="${edit_waterman.date}">

                <table class="table .table-striped .table-bordered .table-responsive">
                    <thead class="thead-dark">
                    <tr>
                        <th class="priceInTable">Code</th>
                        <th class="nameInTable">Name</th>
                        <th class="priceInTable">Price</th>
                        <th class="priceInTable">Discount</th>
                        <th class="nameInTable">Comment</th>
                        <th class="priceInTable">Edit</th>
                        <th class="priceInTable">Delete</th>
                    </tr>

                    </thead>
                    <tr th:each="item : ${stroyparkItemList}">
                        <td><a th:href="@{${item.address}}"> <b th:text="${item.code}"></b> </a></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.price}"></td>
                        <td th:text="${item.priceDiscount}"></td>
                        <td th:text="${item.comment}"></td>
                        <td><a href="edit_item.html" th:href="@{'/'+${item_name}+'/edit/'+${item.code}}">Edit</a></td>
                        <td><a th:href="@{'/'+${item_name}+'/delete/'+${item.code}}">Delete</a></td>

                    </tr>

                </table>

                <table class="table .table-striped .table-bordered .table-responsive">
                    <thead class="thead-dark">
                    <tr>
                        <th class="priceInTable">Code</th>
                        <th class="nameInTable">Name</th>
                        <th class="priceInTable">Price</th>
                        <th class="priceInTable">Discount</th>
                        <th class="nameInTable">Comment</th>
                        <th class="priceInTable">Edit</th>
                        <th class="priceInTable">Delete</th>
                    </tr>

                    </thead>
                    <tr th:each="item : ${kitItemList}">
                        <td><a th:href="@{${item.address}}"> <b th:text="${item.code}"></b> </a></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.price}"></td>
                        <td th:text="${item.priceDiscount}"></td>
                        <td th:text="${item.comment}"></td>
                        <td><a href="edit_item.html" th:href="@{'/'+${item_name}+'/edit/'+${item.code}}">Edit</a></td>
                        <td><a th:href="@{'/'+${item_name}+'/delete/'+${item.code}}">Delete</a></td>

                    </tr>

                </table>


                <input type="submit" value="Submit" class="btn-dark"/> <input type="reset" value="Reset"/>

            </div>
        </div>
    </form>
    <br>

</div>

<div th:insert="~{footer :: main}"></div>
</body>
</html>