<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<div th:fragment="main" style="padding-left: 20px">
    <div class="row" style="margin-left: 30px">
        <div class="col-xs-4">
            <p>
                Select section
            </p>
            <ol class="border container-fluid">
                <li><a href="/index" th:href="@{~/index}">Index page</a></li>
            </ol>
        </div>

        <div class="col-xs-4" style="margin-left: 10px">
            <p>Waterman section </p>
            <ol class="border container-fluid">
                <li><a th:href="@{~/waterman/showall}">Show AlL</a></li>

            </ol>
        </div>

        <div class="col-xs-4" style="margin-left: 10px">
            <p>Stroypark </p>
            <ol class="border container-fluid">
                <li><a th:href="@{/StroyPark/showall}">Show AlL</a></li>
                <li><a th:href="@{/StroyPark/additem}">Add item</a></li>
            </ol>
        </div>

        <div class="col-xs-4" style="margin-left: 10px">
            <p> Kit section </p>
            <ol class="border container-fluid">
                <li><a th:href="@{/Kit/showall}">Show AlL</a></li>
                <li><a th:href="@{/Kit/additem}">Add item</a></li>
            </ol>
        </div>

        <div class="col-xs-4" style="margin-left: 10px">
            <p>Analize </p>
            <ol class="border container-fluid">
                <li><a href="/analize/cheap_sp" th:href="@{~/analize/cheap_sp}">SP cheap</a></li>
            </ol>
        </div>
    </div>
</div>
</body>
</html>