<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>All ItemSP</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="~{header :: main}"></div>
<div class="text-right" >
    <a th:href="@{'/'+${item_name}+'/first'}">First     </a> <a th:href="@{'/'+${item_name}+'/prev'}">Previsouly   </a>
    <a th:href="@{'/'+${item_name}+'/next'}">    Next </a>
</div>
<table class="table .table-striped .table-bordered .table-responsive">
    <thead class="thead-dark">
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Comment</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    </thead>
    <tr th:each="item : ${itemsSP}">
        <td><a th:href="@{${item.address}}"> <b th:text="${item.code}"></b> </a></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.priceDiscount}"></td>
        <td th:text="${item.comment}"></td>
        <td><a href="edit_item.html" th:href="@{'/'+${item_name}+'/edit/'+${item.code}}">Edit</a></td>
        <td><a th:href="@{'/'+${item_name}+'/delete/'+${item.code}}">Delete</a></td>

    </tr>

</table>
</body>
</html>